body, h1, h2, p, ul, li, a, input{
	margin: 0px;
    padding: 0px;
    outline: none;
    box-sizing: border-box;
}

body{
	font-family: 'Poppins', sans-serif;	
}

ul{
	list-style: none;
}

a{
	text-decoration: none;
}


/* PELETA DE CORES 

    Cor 1: #FF787A;
    Cor 2: #5D54A3;
    Cor 3: #37CC8A;
    Cor 4: #FFFFFF;
    Cor 5: #898989;

		          */


/*-------------------------CLASSES DO SITE---------------------*/

.bg{
    background-image: url(../img/bg-intro-desktop.png);
    width: 100%;
    height: 100vh;
    background-color: #FF787A;
}

.bg-content{
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    
}

.bg-text h1{
    margin-bottom: 30px;
    font-size: 60px;
    color: white;
}

.bg-text p{
    font-size: 18px;
    color: white;
    
}


/* BUTTON */

.button{
    width: 540px;
    height: 62px;
    background-color: #5D54A3;
    box-shadow: 0px 5px 2px rgba(0, 0, 0, 0.219);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: white;
    cursor: pointer;
    margin-bottom: 20px;
}

/* FORMULÃRIO */

.formulario{
    width: 540px;
    height: 474px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #ffffff;
}

.formulario-content{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.formulario-content p{
    font-size: 13px;
    color: #ccc;
    margin-top: 20px;
}

.formulario-content p > a{
    font-weight: bold;
    color: #FF787A;
}

/* INPUT */


.formulario-content input{
   height: 50px;
    margin: 10px 40px;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding-left: 10px;
    font-weight: bold;
    
}

.formulario-content input[type="submit"]{
   background-color: #37CC8A; 
   border: none;
    -webkit-box-shadow: 0px 5px 0px 0px rgba(48,186,125,1);
    -moz-box-shadow: 0px 5px 0px 0px rgba(48,186,125,1);
    box-shadow: 0px 5px 0px 0px rgba(48,186,125,1);
    color:#FFFFFF;
}

#espaco{
    margin-top: 40px;
}

 /* RESPONSIVE */




@media screen and (max-width: 1200px){
    .bg{
        width: 100%;
        height: 960px;
        background-image: url(../img/bg-intro-mobile.png);
    }
    
    .bg-content{
        flex-direction: column;
        text-align: center; 
        max-width: 300px;
        min-height: 850px;
     }

     .bg-text h1{
         font-size: 30px;         
        margin: 30% 0 10% 0;
    }

    .bg-text p{
      font-size: 16px;
      margin: 0 20px 40px 20px;       
   }

   .button{
       width: 100%;
       height: 90px;
   }

   .formulario{
       width: 100%;
   }
}



/* TABLET */

@media screen and (width: 768px) , screen and (height: 1024px) {
    .bg{
        height: 1024px;        
    }
    
    .bg-content{
        flex-direction: column;
        text-align: center; 
        max-width: 1000px;
        max-height: 1000px;
        margin: 0 auto;
     }
    
     .bg-text h1{
        font-size: 30px;         
       margin: 0;
   }

    .bg-text p{
        font-size: 16px;
        margin: 0;       
    }

}


/* IPAD PRO */

@media screen and (width: 1024px) , screen and (height: 1366px) {
    .bg{
        height: 1366px;        
    }
    
    .bg-content{
        flex-direction: column;
        text-align: center; 
        max-width: 1000px;
        max-height: 1100px;
        margin: 0 auto;
     }
    
     .bg-text h1{
        font-size: 50px;         
       padding: 0;
   }

    .bg-text p{
        font-size: 25px;              
    }

    .formulario{
        width: 700px;
    }

    .button p{
        font-size: 25px;
    }

    .formulario-content input{
        font-size: 20px;
    }
}



































